<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gerenciamento de Artigos</title>
</head>
<body>
    <h1>S-Articles</h1>
    <h2>Adicionar Novo Artigo</h2>
    <form action="/adicionar_artigo" method="post" enctype="multipart/form-data">
        <input type="text" name="titulo" placeholder="Título">
        <input type="text" name="conteudo" placeholder="Conteúdo">
        <input type="text" name="palavrasChave" placeholder="Palavras-chave (separadas por vírgulas)">
        <input type="text" name="categoria" placeholder="Categoria">
        <input type="file" name="arquivo" accept=".pdf, .txt"> 
        <button type="submit">Adicionar Artigo</button>
    </form>

    <h2>Consultar Artigos</h2>
    <form onsubmit="return consultarArtigos()">
        <input type="text" name="palavraChave" id="consultaPalavraChave" placeholder="Consultar por palavra-chave">
        <button type="submit" onclick="consultarArtigos()">Consultar</button>
    </form>

    <h2>Artigos</h2>
    <ul id="listaArtigos"></ul>

    
    <div id="conteudoArtigo">
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
